table{
    display:inline-flexbox;
    font-family: 'Josefin Sans', sans-serif;
    color: #545473;
    font-size: 17px;
    padding: 10;    
    width: auto;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
    
    /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
    /* line-height: 25px; */

}

th{
    color: black;    
    padding: 10px 20px;
    border: 1px solid #545473;
    border-radius: 5px;
}

td{
    padding: 5px 20px;
}
